.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href="#") Tracker Analytics

    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(href="#" data-toggle="dropdown")
            | Projects &nbsp;
            span.caret
          ul.dropdown-menu
            li(ng-repeat="project in projects")
              a(ui-sref="home.projects.show({projectId: project.id})") {{project.project_name}}
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(href="#" data-toggle="dropdown")
            | {{currentUser.name}} &nbsp;
            span.caret
          ul.dropdown-menu
            li
              a(ng-click="logout()") Logout
ui-view
